<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <h4 class="ship">Shipment History</h4>
      <ul class="clr-timeline clr-timeline-vertical">
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header">May 4th</div>
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-heade">2:15pm</div>
          <clr-icon
            shape="success-standard"
            aria-label="Completed"
            size="10"
          ></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title">Delivered</span>
            <span class="clr-timeline-step-description">Signed for</span>
          </div>
          <span class="descriptions">Omaha, NE</span>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-heade">1:55pm</div>
          <clr-icon shape="circle" class="is-solid" size="10"></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title">Arrived At Your Place</span>
            <span class="clr-timeline-step-description"> </span>
          </div>
          <span class="descriptions">Omaha, NE</span>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-heade">1:35pm</div>
          <clr-icon
            shape="circle"
            class="is-solid"
            aria-label="Not started"
          ></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title"
              >Next Stop, Currently In:</span
            >
          </div>
          <span class="descriptions">Omaha, NE</span>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-heade">10:27am</div>
          <clr-icon
            shape="circle"
            class="is-solid"
            aria-label="Not started"
          ></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title">Out For Delivery</span>
          </div>
          <span class="descriptions">Omaha, NE</span>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header">May 3rd</div>
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-heade">7:32am</div>
          <clr-icon
            shape="circle"
            class="is-solid"
            aria-current="true"
            aria-label="Current"
          ></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title">Service Scheduled</span>
            <span class="clr-timeline-step-description">
              Customer Requested - Rescheduled for May 4th
            </span>
          </div>
          <span class="descriptions">Omaha, NE</span>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header">May 1st</div>
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-heade">9:34am</div>
          <clr-icon
            shape="circle"
            class="is-solid"
            class="det"
            aria-current="true"
            aria-label="Current"
          ></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title">Shipment Delayed</span>
            <span class="clr-timeline-step-description"> Weather Delay </span>
          </div>
          <span class="descriptions">Omaha, NE</span>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header">April 27th</div>
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-heade">10:27am</div>
          <clr-icon
            shape="circle"
            class="is-solid"
            aria-current="true"
            aria-label="Current"
          ></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title">Service Scheduled</span>
            <span class="clr-timeline-step-description">
              Scheduled for May 2nd
            </span>
          </div>
          <span class="descriptions">Omaha, NE</span>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header">April 26th</div>
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-heade">2:30am</div>
          <clr-icon
            shape="circle"
            class="is-solid"
            aria-current="true"
            aria-label="Current"
          ></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title"
              >Received at Local Facility</span
            >
          </div>
          <span class="descriptions">Omaha, NE</span>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-heade">2:15pm</div>
          <clr-icon
            shape="circle"
            class="is-solid"
            aria-current="true"
            aria-label="Current"
          ></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title">Departed Local Facility</span>
            <span class="clr-timeline-step-description">Signed for</span>
          </div>
          <span class="descriptions">Omaha, NE</span>
        </li>
        <li class="clr-timeline-step">
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-header"></div>
          <div class="clr-timeline-step-heade">1:35pm</div>
          <clr-icon
            shape="map-marker"
            size="10"
            aria-current="true"
            aria-label="Current"
          ></clr-icon>
          <div class="clr-timeline-step-body">
            <span class="clr-timeline-step-title"
              >Arrived at Local Facility</span
            >
          </div>
          <span class="descriptions">Omaha, NE</span>
        </li>
      </ul>
    </div>
  </div>
</div>
